@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(26, 23, 18);
  transition: 0.4s;
  padding: 3px;
  font-size: 1.5rem;
}
div.footer {
  background-color: lightgray;
  padding: 2vw 4vw;
  border: solid 3px #bbbbbb;
  border-radius: 20px;
}
div.footer img {
  width: 5%;
}

